{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div style="text-align:center">
		<h1>Register</h1>
		<div>
			<div class="input-form" style="display:flex; align-items:center; justify-content:center;">
				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email ) }}
				{{ form_row(registrationForm.plainPassword, {
                 label: 'Password'
                }) }}

				<button type="submit" class="btn">Register</button>
				{{ form_end(registrationForm) }}
			</div>
		{% endblock %}
