{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="./assets/styles/editTodoStyles.css">
{% endblock %}
{% block body %}

    <div id="main-div">
        <div id="edit-todo-div">
            <h3 id="edit-todo-heading">Edit Todo</h3>
            {{ form_errors(editTodoForm) }}
            {{ form_start(editTodoForm) }}
            {{ form_widget(editTodoForm.name) }}
            {{ form_errors(editTodoForm.name) }}
            <br>
            {{ form_widget(editTodoForm.status) }}
            <input type="hidden" name="todoId" value="{{ todoId }}">
            <br>
            <div id="edit-todo-button-div">
                <button type="submit" class="btn btn-primary py-2">Edit</button>
            </div>
            {{ form_end(editTodoForm) }}
        </div>
    </div>
{% endblock %}
