{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="./assets/styles/todoIndexStyles.css">
{% endblock %}
{% block body %}
    <div id="main-div">
        <div id="create-new-todo">
            {{ form_errors(todoForm) }}
            <h3 id="create-new-todo-heading">Create New Todo</h3>
            {{ form_start(todoForm) }}
            <div class="form-floating">
                {{ form_widget(todoForm.name) }}
                {{ form_label(todoForm.name) }}
                {{ form_errors(todoForm.name) }}
            </div>
            <br>
            <div id="create-button">
                <button type="submit" class="btn btn-primary py-2">Add Todo</button>
            </div>

            {{ form_end(todoForm) }}
        </div>
        <div>
            <h3 id="todo-list-heading">Todo List</h3>
            <div id="todo-list-div">
                {% if todo_list | length <= 0 %}
                    <h3>You have no todos right now</h3>
                {% else %}
                    <br>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for todo in todo_list|sort %}
                            <tr>
                                <th scope="row">{{ todo.getId() }}</th>
                                <td>{{ todo.getName() }}</td>
                                <td>{{ todo.getStatus() }}</td>
                                <td>
                                    <form action="/deleteTodo">

                                        <input type="hidden" name="todoId" value="{{ todo.getId() }}">
                                        <button class="btn btn-outline-danger py-2">Delete</button>
                                    </form>
                                    <br>
                                    <form action="/viewEditTodo">
                                        <input type="hidden" name="todoName" value="{{ todo.getName() }}">
                                        <input type="hidden" name="todoStatus" value="{{ todo.getStatus() }}">
                                        <input type="hidden" name="todoId" value="{{ todo.getId() }}">
                                        <button class="btn btn-outline-primary py-2">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
